PORT=3000
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/santiano_books
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ADMIN_EMAIL=your-admin-email@example.com
CLIENT_URL=http://127.0.0.1:5500
PAYSTACK_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx